# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Tooling
.swiftpm/
.build/
__pycache__/
claude-run.log
